

    
.navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.navbar__links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar__logo {
    cursor: pointer;
    margin-right: 2rem;
}

.navbar__logo img {
    width: 62px;
    height: 16px;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar__links p {
    cursor:pointer;
    color: white;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    
}

.navbar__links p::first-letter{
    text-decoration: underline;
}