.wrapper {
    overflow: hidden; /* add this to contain floated children */
}
.navbar {
    padding: 2%;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    overflow: hidden; /* add this to contain floated children */

}

.navbar__logo {
    cursor: pointer;
    margin-right: 2rem;
}

.navbar__logo img {
    width: 0;
    height: 0;
    vertical-align: left;
}

.navbar__links {
    overflow: hidden; /* add this to contain floated children */
    display: flex;
    padding-left: 14%;
    flex-direction: row;
    position: center;
}

.navbar__links p {
    font-family: "Source Code Pro", monospace;
    cursor:pointer;
    color: #83f383;
    font-size: 18px;
    line-height: 25px;
    margin: 0 1rem;
    
}

.navbar__links p:hover {
    color: white;  
}

.navbar__right {
    overflow: hidden; /* add this to contain floated children */
    height: 25px;
    justify-content: right;
    display: flex;
    flex-direction: row;
}

.navbar__right p {
    cursor:pointer;
    color: #ffffff55;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    
}


.socials img {
    justify-content: right;
    height: 30px;
    width: 90px;
}