* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: rgb(32,32,32);
  background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(24,24,24,1) 100%);
  

}

a {
  color: unset;
  text-decoration: none;
}


.wrapper-header{

height: 55vw !important;
	
}

.headerLeft{
width:47vw !important;
	padding-left:0px !important;
}

.myName{
font-size:3.5vw !important;
}
.welcome{
font-size: 2.7vw !important;
}
.console{
width: 47vw !important;
height: 34vw !important;
}
.typeWriter{
font-size:1.2vw !important;
}
.headerRight.kerim{
width:34vw !important;
padding-right:0px !important;
}

.circle{
height: 34vw !important;
width: 34vw !important;
}
.vueWrapper{
padding-left: 238% !important;
padding-top: 20% !important;
}

.vue{
width: 7vw !important;
    height: 7vw !important;
}	
.angularWrapper{

padding-left: 255% !important;
    padding-top: 144% !important;
}
.angular{
    width: 10vw !important;

}
.reactWrapper{
padding-left: 0% !important;
    padding-top: 263% !important;
}
.react{
width: 8vw !important;
    height: auto !important;
}
.kerim{
width:34vw !important;
}

#about{
padding-top: 0px !important;
}

.grad {
  font-family: var(--navbar-font);
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
