@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");

.portfolioMain {

  background-clip: content-box;
  display: flex;
  width: 100%;
  height: 1000px;
  background-color: #c0e6a7;
}

.cards {
  position: absolute;
  background-clip: content-box;
  display: grid;
  flex: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin: 10px auto;
  padding-top: 4%;
  padding-left: 20%;
  filter: drop-shadow(0.1rem 0.1rem 1rem rgb(0, 0, 0));
}

.techBike:hover {
}

.mask {
  background-color: rgba(251, 251, 251, 0.15);
}

.techBike {
}

.card-body {
  min-height: 190px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.myProjectTitle {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-left: 20%;
  margin-top: 2%;
}
