.bodySection {
  background-clip: content-box;
  display: flex;
  width: 100%;
  height: 1500px;
  padding-top: 10%;
  background-color: rgb(15, 15, 15);
}

.elementsRight {
  width: 900px;
  overflow: hidden;
  float: center;
  position: absolute;
  margin-left: 150%;
  padding-right: 50%;
}

.elementsLeft {
  padding-left: 75%;
  width: 50%;
  float: left;
}

.elementsLeft h1 {
  color: white;
}

.elementsLeft p {
  color: white;
}


.content {
  padding-top: 2%;
  padding-left: 10%;
  display: flex;
  position: relative;
}
.headerBig {
  font-family: "Source Code Pro", monospace;
  color: white;
}

.shortDescription {
  padding-top: 26px;
  font-family: "Poppins", sans-serif;
  color: #ffffffa4;
}

.skillStack {
  font-family: "Poppins", sans-serif;
  width: 520px;
  height: 720px;
}

.softwareDevelopment {
  margin-bottom: 2%;
  border-radius: 5px;
  background: rgb(32, 32, 32);
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
  justify-content: space-between;
  padding: 10%;
  height: 240;
}

.design {
  margin-bottom: 2%;
  border-radius: 5px;
  background: rgb(32, 32, 32);
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
  justify-content: space-between;
  padding: 10%;
  height: 240;
}

.conception {
  margin-bottom: 2%;
  border-radius: 5px;
  background: rgb(32, 32, 32);
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
  justify-content: space-between;
  padding: 10%;
  height: 240;
}

.softwareDevelopment h1 {
  color: #83f383;
}

.conception h1 {
  color: #83f383;
}

.design h1 {
  color: #83f383;
  transition: all 300ms ease-out;
}

.design:hover {
  transform: scale(1.1);
  filter: drop-shadow(-15px 10px 10px black);
  transition: all 300ms ease-in;
}

.conception:hover {
  transform: scale(1.1);
  filter: drop-shadow(-15px 10px 10px black);
  transition: all 300ms ease-in;
}

.softwareDevelopment:hover {
  transform: scale(1.1);
  filter: drop-shadow(-15px 10px 10px black);
  transition: all 300ms ease-in;
}

.icon {
  padding-top: 10px;
  float: right;
  justify-content: right;
  margin: auto;
}
